@charset "utf-8";

body {
  background: lemonchiffon;
  font-family: sans-serif;
  margin: 3em 10%;
  line-height: 2em;
}

h1 {
  padding: 3em 0;
}

code {
  background: #f0f0f0;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

pre.code {
  line-height: 1.5em;
}

pre.code:before, .demo:before {
  padding: 0.1em 0.5em;
  border: dashed 1px gray;
  border-bottom: none;
  content: attr(class);
}

.demo div {
  padding: 1em;
  background: white;
}
