@charset "utf-8";

body {
  background: lemonchiffon;
  font-family: sans-serif;
  margin: 3em 10%;
}

h1 {
  padding: 3em 0;
}

pre.code {
  padding: 1em;
  line-height: 1.5em;
  background: white;
}

.example {
  padding: 1em;
  background: white;
}
